.header-block{
    display: flex;
    align-items:center;
    background-color: blanchedalmond;
    input {
        height: 39px;
    }
}

.header-block{
    background-image: image-url("../images/user.svg");
}

.icon{
    text-align: center;
    height: 50px;
    width: 95px;
}

.window{
    width :50%;
}