// スマホ表示
@media screen and (max-width: 415px) {
    .home {
        .tag-menu-block {
            ul {
                display: flex;
                padding: 0;
                justify-content: space-around;

                li {
                    list-style-type: none;
                    width: 23%;
                    height: fit-content;

                    div {
                        height: 55px;
                        margin: 0 auto;
                        text-align: center;
                        svg{
                            width: 65%;
                            height: auto;
                        }
                    }

                    p {
                        height: 25px;
                        text-align: center;
                        margin: 0;
                        font-size: 0.9rem;
                        background-color: white;
                    }

                    p::after {
                        content: "";
                        width: 85%;
                        height: 3px;
                        display: inline-block;
                        position: relative;
                        bottom: 15px;
                        background-color: black;
                    }
                }

                .active{
                    div{
                        svg{
                            stroke: #7de8ff;
                        }
                    }

                    p{
                        color: #7de8ff;
                    }

                    p::after{
                        background-color: #7de8ff;
                    }
                }
            }
        }

        .pictures-blck {
            ul {
                display: flex;
                padding: 0;
                justify-content: space-around;

                li {
                    width: 45vw;
                    height: 45vw;
                    background-color: yellow;
                    list-style-type: none;
                    text-align: end;
                }
            }
        }

        .pages-block {
            .page-entry {
                display: flex;
                border-radius: 15px;
                border: 2px solid black;
                margin: 10px 0;

                #image {
                    width: 35vw;
                    height: auto;
                    margin: 10px;
                    border-radius: 10px;
                    background-color: red;
                }

                #text {
                    width: 60vw;
                    height: auto;
                }
            }
        }
    }
}