// スマホ表示
@media screen and (max-width: 480px) {
    .library {
        .library-block {

            ul {
                padding: 0;
                display: flex;

                li {
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    background-color: #F5F5F5;
                    border: 1px solid white;
                    border-radius: 10px;
                    margin: 0 auto;
                    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
                    
                    svg {
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }

        }
    }

    .get-medal {

    }
}

