.home {
    .tag-menu-block {
        .icon {
            width: 45px;
            height: 45px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// パソコン表示
@media screen and (min-width: 481px) {
    .home {
        .tag-menu-block {
            background-color: #5abd80;
            padding: 10px 0;
            ul {
                margin: 0 auto;
                justify-content: center;

                li {
                    display: flex;
                    list-style-type: none;
                    width: 130px;
                    padding: 5px;
                    border-radius: 20px;
                    background-color: #f5f5f5;
                    margin: 0 5px;

                    p {
                        font-size: 0.9rem;
                        margin: auto;
                    }
                    
                }

                .active {
                    svg{
                        stroke: #7de8ff;
                    }

                    p {
                        color: #7de8ff;
                    }
                }
            } 
        }

        .pictures-blck {
            @keyframes slideshow {
                0%   { opacity: 0; }

                10%  { opacity: 1; }

                45%  { opacity: 1; }

                55%  { opacity: 0; }
                
                100% { opacity: 0; }
            }

            ul {
                position: relative;
                width: 500px;
                height: 350px;
                margin: 10px auto;
                overflow: hidden;

                li {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    animation: slideshow 16s linear infinite;
                    align-items: center;
                    overflow: hidden;

                    img {
                        width: 100%;
                        border-radius: 15px;
                        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
                    }
                }

                li:last-child {
                    animation-delay: 8s;
                }
            }
        }

        .pages-block {
            width: 500px;
            margin: 0 auto;

            .page-entry {
                display: flex;
                margin: 20px auto;
                background-color: #f5f5f5;
                border-radius: 30px;
                filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

                a {
                    display: flex;

                    #image {
                        display: flex;
                        width: 200px;
                        height: 120px;
                        justify-content: center;
                        overflow: hidden;
                        margin: 30px 20px;

                        img {
                            height: 100%;
                        }
                    }
                
                    #text {
                        margin: 5px 10px;
                    }
                }
            }
        }
    }
}

// スマホ表示
@media screen and (max-width: 480px) {
    .home {
        .tag-menu-block {
            ul {
                justify-content: space-around;

                li {
                    width: 75px;

                    .icon {
                        margin: 0 auto;
                    }

                    p {
                        height: 23px;
                        text-align: center;
                        margin: 3px 0;
                        font-size: 0.9rem;
                    }

                    p::after {
                        content: "";
                        width: 100%;
                        height: 3px;
                        display: inline-block;
                        position: relative;
                        bottom: 15px;
                        background-color: #5e5e5e;
                    }
                }

                .active{
                    svg{
                        stroke: #7de8ff;
                    }

                    p{
                        color: #7de8ff;
                    }

                    p::after{
                        background-color: #7de8ff;
                    }
                }
            }
        }

        .pictures-blck {
            ul {
                justify-content: space-around;

                li {
                    width: 45vw;
                    height: 45vw;
                    border-radius: 10px;
                    overflow: hidden;
                    
                    img {
                        height: 100%;
                    }
                }
            }
        }

        .page-entry {
            display: flex;
            background-color: #f5f5f5;
            border-radius: 10px;
            margin: 15px 0;
            filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

            a {
                width: 100%;
                display: flex;

                #image {
                    width: 115px;
                    height: 75px;
                    margin: 10px;
                    display: flex;
                    overflow: hidden;
                    border-radius: 10px;

                    img {
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                #text {
                    padding: 10px;

                    h2 {
                        margin: 5px 0;
                        font-size: 1.2rem;
                        color: #000;
                    }

                    p {
                        margin: 5px 0;
                        color: #505050;
                    }
                }
            }
        }
    }
}