.home {
    .tag-menu-block {
        ul {
            display: flex;

            li {
            
                p {
                    text-align: center;
                    font-size: 0.85rem;
                }
            }
        }
    }

    .load {
        video {
            display: block;
            margin: 0 auto;
        }
        p {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .page-entry {
        display: flex;
        background-color: #f5f5f5;
        overflow: hidden;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
        a {
            width: 100%;
            display: flex;
            #image {
                overflow: hidden;
            }
        }
    }

    .select-page-block {
        display: flex;
        justify-content: center;

        p {
            text-align: center;
            font-size: 1.6rem;
        }

        button {
            color: #000;
            font-size: 0.9rem;
            background-color: #f5f5f5;
            filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
        }
    }
}

// パソコン表示
@media screen and (min-width: 481px) {
    .home {
        display: flex;
        justify-content: center;

        .tag-menu-block {
            width: 250px;
            ul {
                flex-direction: column;
                margin: 0 10px;

                li {
                    display: flex;
                    padding: 5px;
                    border-radius: 20px;
                    margin: 15px 5px;

                    .icon {
                        width: 40px;
                    }

                    p {
                        font-size: 1.3rem;
                        margin: 12px 0;
                    }
                }

                .active {
                    background-color: #f5f5f5;
                    svg {
                        stroke: #7de8ff;
                    }
                }
            } 
        }

        .load {
            width: 28%;
            video {
                width: 50%;
                margin: 20px auto;
            }
        }

        .pictures-block {
            display: none;
        }

        .pages-block {
            width: 30%;
            height: 700px;
            margin: 0 10px;

            .page-entry {
                margin: 20px auto;
                border-radius: 30px;

                #image {
                    width: 50%;
                    height: 160px;
                    margin: 25px;
                }
            
                #text {
                    width: 50%;
                    margin: 5px 10px;
                }
            }
        }

        .select-page-block {
            height: 60px;
            margin: 80px 10px;
            p {
                margin: 16px 5px;
            }
        }
    }
}

// スマホ表示
@media screen and (max-width: 480px) {
    .home {
        .tag-menu-block {
            ul {
                justify-content: space-around;
                li {
                    width: 85px;

                    .icon {
                        width: 45px;
                        margin: 0 auto;
                    }

                    p {
                        height: 23px;
                        margin: 2px 0;  
                    }

                    p::after {
                        content: "";
                        width: 100%;
                        height: 3px;
                        display: inline-block;
                        position: relative;
                        bottom: 9px;
                        background-color: #5e5e5e;
                    }
                }

                .active{
                    svg {
                        stroke: #7de8ff;
                    }
                
                    p {
                        color: #7de8ff;
                    }
                    p::after{
                        background-color: #7de8ff;
                    }
                }
            }
        }

        .load {
            video {
                width: 50%;
            }
        }

        .pictures-block {
            ul {
                display: flex;
                justify-content: space-around;

                li {
                    width: 45vw;
                    height: 45vw;
                    border-radius: 10px;
                    overflow: hidden;
                    background: #f5f5f5;
                    img {
                        display: block;
                        width: auto;
                        height: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        .page-entry {
            border-radius: 10px;
            margin: 15px 0;

            #image {
                width: 170px;
                height: 100px;
                margin: 13px;
                border-radius: 10px;

                img {
                    border-radius: 10px;
                }
            }

            #text {
                width: 260px;
                padding: 10px;

                h2 {
                    margin: 5px 0;
                    font-size: 1.2rem;
                    color: #000;
                }

                p {
                    margin: 5px 0;
                    color: #505050;
                }
            }
        }

        .select-page-block {
            width: 300px;
            height: 50px;
            margin: 5px auto;

            p {
                margin: auto 15px;
            }

            button {
                height: 40px;
                padding: 5px 15px;
                margin: auto 0;
                border-radius: 15px;
            }
            
            button:active {
                border: 1px solid #505050;
            }
        }
    }
}