.library {
    .library-block {
        ul {
            width: 100%;
            display: flex;
            justify-content: center;

            li {
                background-color: #F5F5F5;
                filter: drop-shadow(0 4px 4px #00000033);
                margin: 0 10px;

                p {
                    text-align: center;
                    font-size: 1.1rem;
                    margin: 5px auto;
                }
            }
        }
          
    }

    .medal-block {
        background-color: #F5F5F5;
        filter: drop-shadow(0 4px 4px #00000033);
    }
}

// パソコン表示
@media screen and (min-width: 481px) {
    // ライブラリのメニュー
    .library {
        .library-block {
            li {
                width: 260px;
                height: 140px;
                border-radius: 30px;

                .picture {
                    width: 90px;
                    height: 80px;
                    margin: 20px auto;
                }
            }
        }
    }
}

// スマホ表示
@media screen and (max-width: 480px) {
    .library {
        // ライブラリのメニュー
        .library-block { 
            li {
                width: 145px;
                height: 145px;
                border-radius: 10px;
                margin: 0 auto;

                .picture {
                    width: 70%;
                    height: 60%;
                    margin: 10px auto;
                }
            }
        }

        // 取得したメダルを確認
        .medal-block {
            width: 80%;
            margin: 10px auto;
            padding: 5px 20px;
            border-radius: 10px;

            h2 {
                font-size: 1.4rem;
            }

            .input-number-box {
                display: flex;
                flex-direction: column;

                input {
                    font-size: 1.5rem;
                }
            }

            .display-medal-block {
                .medal-box {
                    display: flex;
                    margin: 0 10px;
                    .medal {
                        width: 20%;
                    }
                    .text-block {
                        margin: auto 15px;
                    }
                }
            }
        }
    }
}
