.map {

    #svg {
        transform: matrix(1,0, 0, -1, 0, 0);
        -webkit-transform: matrix(1,0, 0, -1, 0, 0);
        overflow: hidden;
        border: 1px solid black;
    }

    text {
        display: inline-block;
        transform-origin: center center 0;
        // transform: matrix(1, 0, 0, -1, 0, 0);    
        // transform: rotateX(180deg);
    }

    .page-block {
        width: 90%;
        background-color: #F5F5F5;
        padding: 10px;
        border-radius: 10px;
        margin: 20px auto;
        filter: drop-shadow(0 4px 4px #00000033);
        
        .pic {
                width: 90%;
                height: 150px;
                margin: 0 auto;
                overflow: hidden;
        
                img {
                    height: 100%;
                }
            }
    }

}