.map {

    #svg {
        transform: matrix(1,0, 0, -1, 0, 0);
        -webkit-transform: matrix(1,0, 0, -1, 0, 0);
        overflow: hidden;
        border: 1px solid black;
    }

    text {
        display: inline-block;
        transform-origin: center center 0;
        // transform: matrix(1, 0, 0, -1, 0, 0);    
        // transform: rotateX(180deg);
    }

}