.map {
    margin: 0 auto;

    .load {
        width: 60%;
        margin: 0 auto;
    }

    .page-block {
        width: 90%;
        background-color: #F5F5F5;
        padding: 10px;
        border-radius: 10px;
        margin: 20px auto;
        filter: drop-shadow(0 4px 4px #00000033);
        
        .pic {
            width: 90%;
            margin: 8px auto;
            overflow: hidden;
        }

        button {
            font-size: 1.2rem;
            border-radius: 10px;
            padding: 7px;
        }
    }
}

// パソコン対応
@media screen and (min-width: 481px) {
    .map {
        width: 600px;
    }
}

// スマホ対応
@media screen and (max-width: 480px) {
    .map {
        width: 300px;
    }
}